.DeviceDetailPopup {
  position: absolute;
  width: 100%;
  max-width: 30rem;
  min-width: min-content;
  min-height: 10rem;
  height: 15rem;
  background-color: white;
  border-radius: 1rem;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border: 1px solid;
}

.DeviceDetailPopup__header {
  width: 80%;
  min-width: 14rem;
  max-width: 20rem;
  height: 1rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
}

.DeviceDetailPopup_deviceName {
  margin: 0;
  padding: 0 0 0 1rem;
}
.error_message {
  text-align: center;
  margin: 1rem auto;
  color: red;
}
